page {
  height: 100%;
}

scroll-view {
  -webkit-overflow-scrolling: touch;
}

* {
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

input {
  background: transparent;
}

button:after {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


